<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/home2.css" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet's Tinder</title>
</head>
<body>
    <div class="container-fluid" id="header">
        <nav class="icon1">
            <div><img class="logo" src="../static/images/logo.png" /></div>
        </nav>

        <nav class="black">
            <ul>
                <li>
                    <a class="bullet-link" href="{{url_for('home')}}"/>HOME</a>
                </li>
                <li>
                    <a class="bullet-link" href="{{url_for('login')}}"/>REGISTER / LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container-fluid" id="intro">
        <h1>Pet's Tinder</h1>
        <p class="name-text">Information about the project, website.</p>
        <p class="name-text">WHAT ? WHY ? WHO ?</p>
        <p class="name-text">This website is built by <a class="name-link" href="https://www.linkedin.com/in/2dt/">Truong Dang</a> and <a class="name-link" href="https://www.linkedin.com/in/vanshika-agrawal-b51692223/">Vanshika Agrawal</a>.</p>
    </div>

    <div class="container-fluid" id="sponsor">
        <div class="w-container">
            <div class="small-text">THANKS TO</div>
            <div class="div-block">
                <img src="https://assets.website-files.com/5e4b18d10b25ed7c5a4d7453/5e4b18d10b25ed80684d7486_logo_Fastcompany.svg" width="70" alt="" class="logo">
                <img src="https://assets.website-files.com/5e4b18d10b25ed7c5a4d7453/5e4b18d10b25ed0a224d7479_logo_Forbes.svg" width="70" alt="" class="logo">
                <img src="https://assets.website-files.com/5e4b18d10b25ed7c5a4d7453/5e4b18d10b25edeb824d7462_logo_techcrunch.svg" width="70" alt="" class="logo">
                <img src="https://assets.website-files.com/5e4b18d10b25ed7c5a4d7453/5e4b18d10b25ed2e5b4d7471_logo_Wired.svg" width="70" alt="" class="logo">
                <img src="https://assets.website-files.com/5e4b18d10b25ed7c5a4d7453/5e4b18d10b25ed57864d7476_logo_zdnet.svg" width="70" alt="" class="logo">
            </div>
        </div>
    </div>
</body>
</html>